* {
    box-sizing: content-box;
    margin: 0;
    font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

.sec1 {
    padding: 5px;
}

.input1 {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    background-color: #f6f9fa;
    background-image: url(imgs/Search\ icon.PNG);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 300px 12px 40px;
}

.logo {
    width: 100px;
}

p a {
    text-decoration: none;
}

.login {
    background-color: white;
    width: 65px;
    height: 35px;
}

.signup {
    background-color: black;
    color: white;
    width: 65px;
    height: 35px;
}

.worldicon {
    background-color: white;
    height: 35px;
    width: 30px;
}

.cart {
    background-color: inherit;
}

.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;

}

.sec2 {
    padding: 30px;
}

#heading2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.heading3 {
    font-size: 40px;
    font-weight: 20px;
}

.firstp {
    font-size: 18px;
}

.skills {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.sec3 {
    margin: 0px 30px 0px 30px;
    border: 1px solid rgb(226, 217, 217);
    padding: 35px;
}

.explore {
    padding: 12px;
    border: 1px solid black;
}

.flex1,
.flex2 {
    scroll-behavior: smooth;
    display: flex;
    overflow: auto;
    gap: 14px;
    align-items: center;
}

.sec4 {
    margin: 0px 30px 0px 30px;
    padding: 35px;
}

.sec5 {
    background-color: #f6f9fa;
}

.div5 {
    margin: 0px 30px 0px 30px;
    padding: 60px 35px 35px 35px;
    background-color: #f6f9fa;
}

ul {
    list-style: none;
    background-color: #f6f9fa;
}

.list1 {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    background-color: #f6f9fa;
    padding-bottom: 30px;
    margin-left: -2em;
}

.btnexplore {
    width: 140px;
    height: 30px;
    background-color: white;
}

h1,
br,
a,
h3 {
    background-color: #f6f9fa;
}

.sec6 {
    display: flex;
    justify-content: space-between;
    padding: 70px 180px;
    align-items: center;
}

.btnstart {
    background-color: black;
    color: white;
    width: 190px;
    height: 45px;
    font-size: 18px;
}

.become {
    font-size: 36px;
    font-weight: 30px;
}

.instr {
    font-size: 20px
}

.sec7 {
    background-color: #f6f9fa;
}

.div7 {
    padding: 40px;
    margin: auto;
    text-align: center;
}

.logo2 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
}

.udemybiz {
    width: 200px;
}

.sec8 {
    display: flex;
    justify-content: space-between;
    padding: 70px 180px;
    align-items: center;
}

.sec9 {
    display: flex;
    justify-content: space-between;
    padding: 70px 180px;
    align-items: center;
}

.btnfind {
    background-color: black;
    color: white;
    width: 120px;
    height: 35px;
    font-size: 18px;
}

.sec10 {
    background-color: black;
    display: flex;
    justify-content: space-between;

}

#footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 30px 50px;
    width: 70%;
    gap: 10px;
}

#footer ul li a {
    background-color: black;
    color: white;
    text-decoration: none;
}

#footer ul li {
    background-color: black;
    color: white;
    padding: 5px;
}

#footer ul {
    background-color: black;
    color: white;
}

.sec10 .btnenglish {
    margin-top: 15px;
    background-color: black;
    background-image: url(flex2/footerglobe.PNG);
    background-repeat: no-repeat;
    border: 1px solid white;
    color: white;
    width: 90px;
    height: 25px;
    padding: 7px 0px 7px 30px;
    background-position: 10px 10px;

}

.button2 {
    background-color: black;
    color: white;
}

.sec11 {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 40px 100px;
}

.lastpart img {
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.lastpart footer {
    font-size: 4px;
}
